<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufms.nafmanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".activities.atendimento.AtendimentoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activities.usuario.UsuarioPrincipal" />
        <activity android:name=".activities.unidade.UnidadePrincipal" />
        <activity android:name=".activities.universidade.UniversidadePrincipal" />
        <activity android:name=".activities.regiao.RegiaoPrincipal" />
        <activity android:name=".activities.unidade.UnidadeInserir" />
        <activity android:name=".activities.universidade.UniversidadeInserir" />
        <activity android:name=".activities.usuario.UsuarioInserir"/>
        <activity android:name=".activities.acesso.AcessoGerenciar" />
        <activity android:name=".activities.acesso.AcessoPrincipal" />
        <activity android:name=".activities.acesso.AcessoInserir" />
        <activity android:name=".activities.acesso.AcessoSolicitar" />
        <activity android:name=".activities.acesso.AcessoAprovar" />
        <activity android:name=".activities.unidade.UnidadeGerenciar" />
        <activity android:name=".activities.universidade.UniversidadeGerenciar" />
        <activity android:name=".activities.usuario.UsuarioGerenciar" />
        <activity android:name=".activities.regiao.RegiaoInserir" />
        <activity android:name=".activities.regiao.RegiaoGerenciar" />
    </application>

</manifest>